@import "var";
@import "loader";

body {

  background-color: $bgPage;

  .white-box {
    padding: 10px;
    border-radius: 10px;
    background-color: $bgBox;
  }

  .card-deck {
    margin-top: 10px;
  }

  .card-body {
    flex: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.25rem;
  }

}